In [3]:
import pandas as pd
import numpy as np

In [201]:
df = pd.read_csv("datasets/THE World University Rankings 2016-2025.csv")
df_population = pd.read_csv("datasets/population.csv")
#df_hdi = pd.read_csv("datasets/HFA_42_EN.csv")
df_co2 = pd.read_csv("datasets/co-emissions-per-capita.csv")
df_corruption = pd.read_excel("datasets/TI-CPI.xlsx")
df_gdp = pd.read_csv("datasets/WITS-Country-Timeseries.csv")
df_gdi = pd.read_excel("datasets/HDR23-24_Statistical_Annex_GDI_Table.xlsx")
df_indices = pd.read_csv("datasets/hdi_gii.csv")

# Merging population

In [189]:
df_population.rename(columns={'Entity': 'Country'}, inplace=True)
df_population.rename(columns={'Population - Sex: all - Age: all - Variant: estimates': 'Population'}, inplace=True)
df = pd.merge(df, df_population, on=['Country', 'Year'], how='left')
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Population
0,1.0,California Institute of Technology,United States,2243.0,6.9,26%,33 : 67,95.2000,95.6,97.6,99.8,97.8,64.0,2016,329179421.0
1,2.0,University of Oxford,United Kingdom,19920.0,11.6,34%,46:54:00,94.2000,86.5,98.9,98.8,73.1,94.4,2016,65893359.0
2,3.0,Stanford University,United States,15596.0,7.8,22%,42:58:00,93.9000,92.5,96.2,99.9,63.3,76.3,2016,329179421.0
3,4.0,University of Cambridge,United Kingdom,18810.0,11.8,34%,46:54:00,92.8000,88.2,96.7,97.0,55.0,91.5,2016,65893359.0
4,5.0,Massachusetts Institute of Technology,United States,11074.0,9.0,33%,37 : 63,92.0000,89.4,88.6,99.7,95.4,84.0,2016,329179421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14517,2088.0,Technological University of Pereira,Colombia,17326.0,17.1,0%,43 : 57,11.6820,15.5,2.8,10.2,18.5,33.3,2025,NaN
14518,2089.0,Universidad Pedagogica y Tecnologica de Colomb...,Colombia,35767.0,17.6,0%,55 : 45,11.1160,14.2,7.7,5.0,16.1,34.0,2025,NaN
14519,2090.0,Instituto Tecnológico Metropolitano,Colombia,24443.0,20.3,0%,44 : 56,11.1055,12.4,7.6,7.6,18.4,29.7,2025,NaN
14520,2091.0,Tula State University,Russian Federation,18622.0,19.3,3%,39 : 61,10.8640,15.2,9.2,5.1,17.8,19.6,2025,NaN
14521,2092.0,Universidade Estadual do Maranhão,Brazil,25078.0,21.8,0%,62 : 38,10.4715,12.5,9.2,6.1,15.9,22.0,2025,NaN

In [190]:
rows_with_nan = df[df['Population'].isna()]

# Get unique values in the 'Country' column
unique_countries = rows_with_nan['Country'].unique()
print(unique_countries)
print(df['Country'].unique())

['Russian Federation' 'Czech Republic' 'Northern Cyprus'
 'Brunei Darussalam' 'United Kingdom' 'United States' 'Switzerland'
 'China' 'Singapore' 'Canada' 'Japan' 'Germany' 'Hong Kong' 'Australia'
 'France' 'Belgium' 'Netherlands' 'Sweden' 'South Korea' 'Denmark'
 'Austria' 'Finland' 'Norway' 'Ireland' 'New Zealand' 'Spain' 'Taiwan'
 'Italy' 'South Africa' 'Macao' 'Brazil' 'Israel' 'Saudi Arabia' 'India'
 'United Arab Emirates' 'Luxembourg' 'Qatar' 'Malaysia' 'Hungary' 'Iran'
 'Estonia' 'Turkey' 'Portugal' 'Chile' 'Pakistan' 'Iceland' 'Cyprus'
 'Greece' 'Lebanon' 'Kazakhstan' 'Egypt' 'Thailand' 'Poland' 'Vietnam'
 'Oman' 'Mexico' 'Ghana' 'Ukraine' 'Jordan' 'Nigeria' 'Bangladesh'
 'Indonesia' 'Slovenia' 'Romania' 'Malta' 'Colombia' 'Lithuania' 'Serbia'
 'Tunisia' 'Uganda' 'Iraq' 'Sri Lanka' 'Palestine' 'Fiji' 'Philippines'
 'Slovakia' 'Kuwait' 'Latvia' 'Tanzania' 'Croatia' 'Ecuador' 'Peru'
 'Jamaica' 'Ethiopia' 'Algeria' 'Morocco' 'Botswana' 'Puerto Rico'
 'Bulgaria' 'Mozambique' 'Georgia' 'Namibia' 'Mauritius' 'Costa Rica'
 'Zambia' 'Kenya' 'Nepal' 'Zimbabwe' 'Belarus' 'Argentina' 'Armenia'
 'North Macedonia' 'Cuba' 'Montenegro' 'Bosnia and Herzegovina'
 'Venezuela' 'Azerbaijan' 'Kosovo' 'Bahrain' 'Uzbekistan'
 'Democratic Republic of the Congo' 'Paraguay' 'Rwanda' 'Mongolia' 'Syria']
['United States' 'United Kingdom' 'Switzerland' 'Canada' 'Singapore'
 'Sweden' 'Germany' 'Australia' 'Belgium' 'China' 'Japan' 'Hong Kong'
 'Netherlands' 'France' 'Finland' 'Denmark' 'South Korea' 'Ireland'
 'Italy' 'South Africa' 'Norway' 'Austria' 'Spain' 'Russian Federation'
 'Taiwan' 'New Zealand' 'Israel' 'Luxembourg' 'Brazil' 'Iceland' 'Turkey'
 'Saudi Arabia' 'India' 'Czech Republic' 'Greece' 'Estonia' 'Cyprus'
 'Portugal' 'Uganda' 'Chile' 'Macao' 'Mexico' 'Iran' 'Malaysia' 'Lebanon'
 'Poland' 'Hungary' 'Thailand' 'Pakistan' 'Romania' 'Slovenia'
 'United Arab Emirates' 'Colombia' 'Qatar' 'Lithuania' 'Oman' 'Ghana'
 'Slovakia' 'Latvia' 'Serbia' 'Jordan' 'Egypt' 'Kenya' 'Indonesia'
 'Ukraine' 'Bangladesh' 'Belarus' 'Morocco' 'Nigeria' 'Argentina' 'Kuwait'
 'Northern Cyprus' 'Croatia' 'Philippines' 'Costa Rica' 'Venezuela'
 'Bulgaria' 'Algeria' 'Tunisia' 'Sri Lanka' 'Georgia' 'Peru' 'Jamaica'
 'Iraq' 'Kazakhstan' 'Nepal' 'Tanzania' 'Brunei Darussalam' 'Malta'
 'Vietnam' 'Puerto Rico' 'Cuba' 'Montenegro' 'Botswana' 'Ethiopia'
 'Palestine' 'Ecuador' 'Fiji' 'Azerbaijan' 'Zambia' 'Namibia' 'Mozambique'
 'Zimbabwe' 'Mauritius' 'Armenia' 'North Macedonia'
 'Bosnia and Herzegovina' 'Kosovo' 'Bahrain' 'Uzbekistan'
 'Democratic Republic of the Congo' 'Paraguay' 'Rwanda' 'Mongolia' 'Syria']

# Merging CO2

In [191]:
df_co2.rename(columns={'Annual CO₂ emissions (per capita)': 'CO2'}, inplace=True)
df_co2.rename(columns={'Entity': 'Country'}, inplace=True)
df_co2 = df_co2.drop(columns=['Code'])

In [192]:
df = pd.merge(df, df_co2, on=['Country', 'Year'], how='left')

# Merging GDP

In [193]:
df_corruption = pd.melt(
    df_corruption,
    id_vars=['Economy ISO3', 'Economy Name', 'Indicator ID', 'Indicator', 'Attribute 1', 'Attribute 2', 'Attribute 3', 'Partner'],  # Columns to keep
    var_name='Year',  # Name of the new column for years
    value_name='Value'  # Name of the new column for values
)
df_corruption = df_corruption.pivot_table(
    index=['Economy ISO3', 'Economy Name', 'Year'],  # Set the unique combinations of country and year
    columns='Indicator',  # Use the indicator to create new columns
    values='Value',  # Use the 'Value' column as the values
    aggfunc='first'  # In case there are duplicates, we'll take the first value
)

df_corruption.columns = [col for col in df_corruption.columns]

# Reset index to bring back 'Economy ISO3', 'Economy Name', and 'Year' as columns
df_corruption = df_corruption.reset_index()

In [194]:
df_corruption.rename(columns={'Economy Name': 'Country'}, inplace=True)
df_corruption.rename(columns={'Corruption Perceptions Index Score': 'Corruption'}, inplace=True)
df_corruption = df_corruption.drop(columns=['Corruption Perceptions Index Rank', 'Corruption Perceptions Index Sources', 'Corruption Perceptions Index Standard Error', 'Economy ISO3'])
df_corruption['Year'] = df_corruption['Year'].astype(np.int64)

In [195]:
df = pd.merge(df, df_corruption, on=['Country', 'Year'], how='left')

In [196]:
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Population,CO2,Corruption
0,1.0,California Institute of Technology,United States,2243.0,6.9,26%,33 : 67,95.2000,95.6,97.6,99.8,97.8,64.0,2016,329179421.0,15.957657,74.0
1,2.0,University of Oxford,United Kingdom,19920.0,11.6,34%,46:54:00,94.2000,86.5,98.9,98.8,73.1,94.4,2016,65893359.0,6.061766,81.0
2,3.0,Stanford University,United States,15596.0,7.8,22%,42:58:00,93.9000,92.5,96.2,99.9,63.3,76.3,2016,329179421.0,15.957657,74.0
3,4.0,University of Cambridge,United Kingdom,18810.0,11.8,34%,46:54:00,92.8000,88.2,96.7,97.0,55.0,91.5,2016,65893359.0,6.061766,81.0
4,5.0,Massachusetts Institute of Technology,United States,11074.0,9.0,33%,37 : 63,92.0000,89.4,88.6,99.7,95.4,84.0,2016,329179421.0,15.957657,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14517,2088.0,Technological University of Pereira,Colombia,17326.0,17.1,0%,43 : 57,11.6820,15.5,2.8,10.2,18.5,33.3,2025,NaN,NaN,NaN
14518,2089.0,Universidad Pedagogica y Tecnologica de Colomb...,Colombia,35767.0,17.6,0%,55 : 45,11.1160,14.2,7.7,5.0,16.1,34.0,2025,NaN,NaN,NaN
14519,2090.0,Instituto Tecnológico Metropolitano,Colombia,24443.0,20.3,0%,44 : 56,11.1055,12.4,7.6,7.6,18.4,29.7,2025,NaN,NaN,NaN
14520,2091.0,Tula State University,Russian Federation,18622.0,19.3,3%,39 : 61,10.8640,15.2,9.2,5.1,17.8,19.6,2025,NaN,NaN,NaN
14521,2092.0,Universidade Estadual do Maranhão,Brazil,25078.0,21.8,0%,62 : 38,10.4715,12.5,9.2,6.1,15.9,22.0,2025,NaN,NaN,NaN

# Merging GDP

In [197]:
df_gdp = pd.melt(
    df_gdp, 
    id_vars=['Country Name', 'Indicator Name'],  # Columns to keep as is
    var_name='Year',  # Name for the new column that will hold the years
    value_name='Value'  # Name for the new column that will hold the values
)

In [198]:
df_gdp.rename(columns={'Country Name': 'Country'}, inplace=True)
df_gdp.rename(columns={'Value': 'GDP'}, inplace=True)
df_gdp = df_gdp.drop(columns=['Indicator Name'])
df_gdp['Year'] = df_gdp['Year'].astype(np.int64)

In [199]:
df = pd.merge(df, df_gdp, on=['Country', 'Year'], how='left')

In [200]:
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,Population,CO2,Corruption,GDP
0,1.0,California Institute of Technology,United States,2243.0,6.9,26%,33 : 67,95.2000,95.6,97.6,99.8,97.8,64.0,2016,329179421.0,15.957657,74.0,1.869511e+13
1,2.0,University of Oxford,United Kingdom,19920.0,11.6,34%,46:54:00,94.2000,86.5,98.9,98.8,73.1,94.4,2016,65893359.0,6.061766,81.0,2.699660e+12
2,3.0,Stanford University,United States,15596.0,7.8,22%,42:58:00,93.9000,92.5,96.2,99.9,63.3,76.3,2016,329179421.0,15.957657,74.0,1.869511e+13
3,4.0,University of Cambridge,United Kingdom,18810.0,11.8,34%,46:54:00,92.8000,88.2,96.7,97.0,55.0,91.5,2016,65893359.0,6.061766,81.0,2.699660e+12
4,5.0,Massachusetts Institute of Technology,United States,11074.0,9.0,33%,37 : 63,92.0000,89.4,88.6,99.7,95.4,84.0,2016,329179421.0,15.957657,74.0,1.869511e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14517,2088.0,Technological University of Pereira,Colombia,17326.0,17.1,0%,43 : 57,11.6820,15.5,2.8,10.2,18.5,33.3,2025,NaN,NaN,NaN,NaN
14518,2089.0,Universidad Pedagogica y Tecnologica de Colomb...,Colombia,35767.0,17.6,0%,55 : 45,11.1160,14.2,7.7,5.0,16.1,34.0,2025,NaN,NaN,NaN,NaN
14519,2090.0,Instituto Tecnológico Metropolitano,Colombia,24443.0,20.3,0%,44 : 56,11.1055,12.4,7.6,7.6,18.4,29.7,2025,NaN,NaN,NaN,NaN
14520,2091.0,Tula State University,Russian Federation,18622.0,19.3,3%,39 : 61,10.8640,15.2,9.2,5.1,17.8,19.6,2025,NaN,NaN,NaN,NaN
14521,2092.0,Universidade Estadual do Maranhão,Brazil,25078.0,21.8,0%,62 : 38,10.4715,12.5,9.2,6.1,15.9,22.0,2025,NaN,NaN,NaN,NaN

# Merging Human Development Index and Gender Inequality Index

In [213]:
def reshape_indices_df(df):
    """
    Reshape a wide-format DataFrame with HDI and GII columns for multiple years
    into a long format with Year, HDI, and GII columns.
    
    Parameters:
    df (pandas.DataFrame): Wide-format DataFrame with columns:
        Country, hdi_YYYY, gii_YYYY for years 2016-2022
    
    Returns:
    pandas.DataFrame: Long-format DataFrame with columns:
        Country, Year, HDI, GII
    """
    # Melt HDI columns
    hdi_df = df.melt(
        id_vars=['Country'],
        value_vars=[col for col in df.columns if col.startswith('hdi_')],
        var_name='Year',
        value_name='HDI'
    )
    
    # Melt GII columns
    gii_df = df.melt(
        id_vars=['Country'],
        value_vars=[col for col in df.columns if col.startswith('gii_')],
        var_name='Year',
        value_name='GII'
    )
    
    # Extract years from the Year column
    hdi_df['Year'] = hdi_df['Year'].str.extract('(\d{4})').astype(int)
    gii_df['Year'] = gii_df['Year'].str.extract('(\d{4})').astype(int)
    
    # Merge HDI and GII DataFrames
    result = pd.merge(
        hdi_df,
        gii_df[['Country', 'Year', 'GII']],
        on=['Country', 'Year'],
        how='outer'
    )
    
    # Sort by Country and Year
    result = result.sort_values(['Country', 'Year']).reset_index(drop=True)
    
    return result

In [214]:
df_indices = reshape_indices_df(df_indices)

In [216]:
df = pd.merge(df, df_indices, on=['Country', 'Year'], how='left')

In [217]:
df

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year,HDI,GII
0,1.0,California Institute of Technology,United States,2243.0,6.9,26%,33 : 67,95.2000,95.6,97.6,99.8,97.8,64.0,2016,0.926,0.214
1,2.0,University of Oxford,United Kingdom,19920.0,11.6,34%,46:54:00,94.2000,86.5,98.9,98.8,73.1,94.4,2016,0.926,0.125
2,3.0,Stanford University,United States,15596.0,7.8,22%,42:58:00,93.9000,92.5,96.2,99.9,63.3,76.3,2016,0.926,0.214
3,4.0,University of Cambridge,United Kingdom,18810.0,11.8,34%,46:54:00,92.8000,88.2,96.7,97.0,55.0,91.5,2016,0.926,0.125
4,5.0,Massachusetts Institute of Technology,United States,11074.0,9.0,33%,37 : 63,92.0000,89.4,88.6,99.7,95.4,84.0,2016,0.926,0.214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14517,2088.0,Technological University of Pereira,Colombia,17326.0,17.1,0%,43 : 57,11.6820,15.5,2.8,10.2,18.5,33.3,2025,NaN,NaN
14518,2089.0,Universidad Pedagogica y Tecnologica de Colomb...,Colombia,35767.0,17.6,0%,55 : 45,11.1160,14.2,7.7,5.0,16.1,34.0,2025,NaN,NaN
14519,2090.0,Instituto Tecnológico Metropolitano,Colombia,24443.0,20.3,0%,44 : 56,11.1055,12.4,7.6,7.6,18.4,29.7,2025,NaN,NaN
14520,2091.0,Tula State University,Russian Federation,18622.0,19.3,3%,39 : 61,10.8640,15.2,9.2,5.1,17.8,19.6,2025,NaN,NaN
14521,2092.0,Universidade Estadual do Maranhão,Brazil,25078.0,21.8,0%,62 : 38,10.4715,12.5,9.2,6.1,15.9,22.0,2025,NaN,NaN

In [ ]:
df.to_csv("e")